swiper-container {
  width: 100%;
}

swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

swiper-slide img {
  width: 60%;
  height: auto;
  object-fit: contain;
}