main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  padding: 5px;
  box-sizing: border-box;
}

.product-section::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.product-section::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.product-section::-webkit-scrollbar-track {
  background: transparent;
}


.header-section {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-section {
  height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
}

.paginator-section {
  height: 10%;
  align-self: center;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  margin: 0 0 5px 0;
  box-sizing: border-box;
}

mat-form-field {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 24px;
  display: block;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 16px;
  font-weight: 700;
  color: #333;
}
