main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.category-modal-header { 
    height: 20%;
}

.category-form-container { 
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.category-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
}


.full-width {
    width: 70%;
}

.category-modal-actions { 
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 20%;
    width: 100%;
    margin-right: 2rem;
    gap: 1rem;
}

@media (max-width: 599px) {
  .form-divider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }

  .full-width {
    width: 90%;
  }

  .half-width {
    width: 45%;
  }
}
