.profile-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  overflow-y: auto;
}

mat-card-title {
  color: #0B4F6C;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.profile-card {
  width: 80%;
  height: 100%;
  overflow: auto;
  /* max-width: 50%; */
  background-color: #f5f5f5;
  border: 1px solid #0B4F6C;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.address-section {
  display: flex;
  flex-direction: column;
}

.address-section-zip {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.inpt-address{
  width: 50%;
}

.inpt-address2{
  width: 50%;
}

.inpt-zip{
  width: 30%;
}

.inpt-colony{
  width: 70%;
}

mat-form-field {
  width: 100%;
  /* margin-bottom: 1rem; */
  display: block;
}


mat-card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}

button {
  font-weight: 500;
}

.btn-warn {
  color: #e53935 !important;
  /* color: white !important; */
}


