.confirm-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  gap: 0.5rem;
}

.confirm-user, .confirm-items {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 1rem;
  box-sizing: border-box;
}

.confirm-items-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.confirm-items-quantity{
  text-align: end;
}

.confirm-items mat-card {
  margin-bottom: 0.5rem;
}

.confirm-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.confirm-header h3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  text-align: center;
  font-weight: 600;
}

.item-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 599px) {
  .confirm-header h3 {
    position: relative;
    left: 0%;
    transform: translateX(0%);
  }
}