.main-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    gap: 40px;
}

.form-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #eaab04;
}

.main-logo {
    width: 100%;
    max-width: 300px;
}

.main-logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    /* height: 50%; */
    padding: 20px;
    /* margin-top: 15px; */
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    box-sizing: border-box;

    animation: fadeIn 1s ease-out;
    animation-fill-mode: both;
}

.gender-group {
    display: flex;
    gap: 16px;
}

.signin-text {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.form-error {
    color: #AF3800;
    font-weight: bold;
}

.btn-sign {
    display: flex;
    flex-direction: row;
}

h1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 16px;
    font-size: 2rem;
}

mat-form-field {
    width: 100%;
    height: 70px;
}

mat-label{
    text-align: left;
    width: 100%;
}

.image-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    animation: fadeIn 1s ease-out;
    animation-fill-mode: both;
}

.image-side img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 599px) {
    .main-page {
        flex-direction: column;
    }

    .form-side{
        width: 95%;
    }

    h1 {
        text-align: center;
    }
}

@media (min-width: 1200px){
    .form-container {
        width: 60%;
    }
}