html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
