main {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    gap: 2rem;
}

h1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 16px;
    font-size: 2rem;
}

.form-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: #eaab04;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    box-sizing: border-box;
    overflow-y: auto;

    animation: fadeIn 1s ease-out;
    animation-fill-mode: both;
}

.form-title {
    width: 100%;
    height: 10%;
}

.form-content {
    width: 100%;
    height: 85%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.address-section {
  display: flex;
  flex-direction: column;
}

.address-section-zip {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.inpt-address{
  width: 50%;
}

.inpt-address2{
  width: 50%;
}

.inpt-zip{
  width: 30%;
}

.inpt-colony{
  width: 70%;
}

.form-footer {
    width: 100%;
    height: 5%;
    text-align: center;
}

.btn-sign{
    position: sticky;
    bottom: 0;
}

.payment-group {
    display: flex;
    gap: 16px;
}

mat-form-field {
    width: 100%;
    margin-top: 5px;
}

.main-logo {
    width: 100%;
    max-width: 300px;
}

.main-logo img {
    width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}


.form-content::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.form-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.form-content::-webkit-scrollbar-track {
    background: transparent;
}

/* .gender-group {
    display: flex;
    gap: 16px;
}

button{
    width: 100%;
}

mat-form-field {
    width: 100%;
}

mat-label{
    text-align: left;
    width: 100%;
} */

.image-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

    animation: fadeIn 1s ease-out;
    animation-fill-mode: both;
}

.image-side img {
    width: 70%;
    height: auto;
    border-radius: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 599px) {
    .main-page {
        flex-direction: column;
    }

    .form-side{
        width: 95%;
    }

    h1 {
        text-align: center;
    }
}

@media (min-width: 1200px){
    .form-container {
        width: 60%;
    }

}