main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    padding: 5px;
    box-sizing: border-box;
}

.orders-section::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.orders-section::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.orders-section::-webkit-scrollbar-track {
    background: transparent;
}

.header-section {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.title {
    width: 50%;
}

.sort-actions {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.select-input {
    width: 40%;
}

.orders-section {
    height: 75%;
    overflow-y: auto;
    overflow-x: hidden;
}

.paginator-section {
    height: 10%;
    align-self: center;
}

.orders-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    margin: 0 0 5px 0;
    box-sizing: border-box;
}

h2 {
    font-size: 2rem;
    margin-bottom: 16px;
    font-weight: 700;
    color: #333;
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 1rem;
  color: #444;
  box-sizing: border-box;
}

.no-results-icon {
  font-size: 64px;
  color: #AF3800;
  margin-bottom: 16px;
  height: 64px;
  width: 64px;
  display: inline-flex;
}

.no-results h3 {
  font-size: 1.5rem;
  margin-bottom: 8px;
  color: #AF3800;
}

.no-results p {
  font-size: 1rem;
  margin-bottom: 16px;
  color: #666;
}

.order-card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    border-left: 5px solid #EAAB04;
    background-color: #fefefe;
}

.order-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.order-card mat-card-title {
    font-weight: 600;   
    color: #0B4F6C;
}

.order-card mat-card-subtitle {
    font-size: 0.9rem;
    /* color: #AF3800; */
}

.order-card mat-card-content p{
    margin: 0.3rem 0;
    color: #333;
}

.order-avatar {
    background-color: #78BC61;
}

.status-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    background-color: gray;
    border-radius: 50%;
    padding: 4px;

}
.status-icon.pending {
    background-color: #EAAB04;
}

.status-icon.send {
    background-color: #0B4F6C;
}

.status-icon.delivered {
    background-color: #78BC61;
}

.status-icon.cancel {
    background-color: #AF3800;
}

