main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.product-modal-header { 
  height: 10%;
}

.product-form-container { 
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.form-divider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.full-width {
  width: 70%;
}

.half-width {
  width: 40%;
}

.name-tag {
  margin-top: 1rem;
}

.product-modal-actions { 
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 10%;
  width: 100%;
  margin-right: 2rem;
  gap: 1rem;
}

@media (max-width: 599px) {
  .form-divider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }

  .full-width {
    width: 90%;
  }

  .half-width {
    width: 45%;
  }
}
