.sidenav-title {
  padding-left: 1rem;
  box-sizing: border-box;
}

mat-sidenav-container.app-container {
  height: 100vh;
}

.main-content {
  height: 90%;
  background-color: #FAFAFA;
}

mat-sidenav-content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

mat-sidenav-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

mat-sidenav-content::-webkit-scrollbar-track {
  background: transparent;
}