main { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    margin-top: 0;
    box-sizing: border-box;
}

.dashboard-title {
    height: 10%;
}

.dashboard-filters {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.search-input {
    width: 50%;
}

.sort-actions {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

.select-input {
    width: 30%;
}

.order-table {
    width: 100%;
    height: 70%;
    overflow-y: auto;
}

.paginator { 
    height: 10%;
}

.btn-warn {
  color: #e53935 !important;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row {
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-rows: 0fr;
  grid-template-columns: 100%;
  transition: grid-template-rows 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-element-detail-wrapper-expanded {
  grid-template-rows: 1fr;
}

.example-element-detail {
  display: flex;
  flex-direction: column;
  min-height: 0;
  /* overflow-y: auto; */
  box-sizing: border-box;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.example-toggle-button {
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-toggle-button-expanded {
  transform: rotate(180deg);
}

.item-card {
    background: #fefefe;
    border-left: 4px solid #EAAB04;
    border-bottom: 2px solid #EAAB04;
    margin-bottom: 0.5rem;
    /* padding: 0.5rem 1rem; */
    transition: transform 0.2s ease;
    box-sizing: border-box;
}

.item-desc {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.item-card-details {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.item-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);
}

.item-name {
    font-weight: bold;
    color: #0B4F6C;
    margin: 0;
}

.item-info {
    font-size: 0.9rem;
    color: #555;
    margin: 0.2rem 0 0 0;
    box-sizing: border-box;
}

.item-img {
    height: 50px;
    width: auto;
}

.order-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.order-table::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.order-table::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.order-table::-webkit-scrollbar-track {
    background: transparent;
}